[Unit]
Description=Redis Server (Cluster)

[Service]
ExecStart=/usr/bin/redis-server /home/nils/cluster/cluster.conf

[Install]
WantedBy=multi-user.target
