[Unit]
Description=KeyDB Server (Cluster)

[Service]
ExecStart=/usr/bin/keydb-server /home/nils/cluster/cluster.conf

[Install]
WantedBy=multi-user.target
